{% extends "layout.html" %} {% block body %}

<form action="/score" method="post">
  <div class="form-group">
    <label for="string1">String 1</label>
    <input
      class="form-control"
      placeholder="Turn this string..."
      id="string1"
      name="string1"
      type="text"
    />
  </div>
  <div class="form-group">
    <label for="string2">String 2</label>
    <input
      class="form-control"
      placeholder="Into this one..."
      id="string2"
      name="string2"
      type="text"
    />
  </div>
  <button class="btn btn-primary btn-lg" type="submit">Compare!</button>
</form>

{% endblock %}
