{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol (e.g. AAPL)" type="text" required />
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="1" type="number" min="1" step="1" required />
        </div>
        <button class="btn btn-primary" type="submit">Buy Shares</button>
    </form>
{% endblock %}