{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for share in portfolio %}
                <tr>
                    <td>{{ share["symbol"] }}</td>
                    <td>{{ share["name"] }}</td>
                    <td>{{ share["shares"] }}</td>
                    <td>{{ share["live_price"]|usd }}</td>
                    <td>{{ (share["live_price"] * share["shares"])|usd }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>CASH</td>
                    <td colspan="3"></td>
                    <td>{{ current_cash|usd }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                    <th>{{ total|usd }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
